// Text
$text-bright: #bbb;
$text-normal: #aaa;
$text-dim-brighter: #999;
$text-dim: #888;
$text-dim-darker: #777;

// Backgrounds
$bg-very-bright: #383838;
$bg-bright: #333;
$bg-medium-brighter: #2c2c2c;
$bg-medium-bright: #2a2a2a;
$bg-medium-dark: #282828;
$bg-medium-darker: #242424;
$bg-dark: #222;
$bg-darker: #1c1c1c;
$bg-very-dark: #181818;
$bg-base: #111;

//Borders
$border-brighter: #555;
$border-bright: #444;
$border-medium-bright: #3c3c3c;
$border-medium: #383838;
$border-medium-dark: #343434;
$border-normal: #333;
$border-dark: #222;

// Shadows
$shadow-very-bright: #444;
$shadow-brighter: #3a3a3a;
$shadow-bright: #383838;
$shadow-medium: #333;
$shadow-dark: #222;
